# ==============================
# Python artifacts
# ==============================
__pycache__/

# ==============================
# Virtual environments
# ==============================
.venv/
env/
venv/

# ==============================
# Distribution artifacts
# ==============================
dist/
build/
*.egg-info/